In [10]:
# Install the Cassandra python driver
!pip install cassandra-driver

Requirement already satisfied: cassandra-driver in /usr/local/lib/python3.10/dist-packages (3.29.2)
Requirement already satisfied: geomet<0.3,>=0.1 in /usr/local/lib/python3.10/dist-packages (from cassandra-driver) (0.2.1.post1)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from geomet<0.3,>=0.1->cassandra-driver) (8.1.7)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from geomet<0.3,>=0.1->cassandra-driver) (1.16.0)

In [11]:
# Import the necessary libraries
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider
import json

In [12]:
# This secure connect bundle is autogenerated when you download your SCB,
# if yours is different update the file name below
cloud_config= {
  'secure_connect_bundle': 'secure-connect-assaignment.zip'
}

# This token JSON file is autogenerated when you download your token,
# if yours is different update the file name below
with open("Assaignment-token.json") as f:
    secrets = json.load(f)

CLIENT_ID = secrets["clientId"]
CLIENT_SECRET = secrets["secret"]

auth_provider = PlainTextAuthProvider(CLIENT_ID, CLIENT_SECRET)
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

if session:
  print('Connected!')
else:
  print("An error occurred.")

WARNING:cassandra.cluster:Downgrading core protocol version from 66 to 65 for aa22374b-209d-4b53-962c-5c0f5f479246-eu-west-1.db.astra.datastax.com:29042:0669df0f-031f-383e-b452-67a9679bbc6a. To avoid this, it is best practice to explicitly set Cluster(protocol_version) to the version supported by your cluster. http://datastax.github.io/python-driver/api/cassandra/cluster.html#cassandra.cluster.Cluster.protocol_version
WARNING:cassandra.cluster:Downgrading core protocol version from 65 to 5 for aa22374b-209d-4b53-962c-5c0f5f479246-eu-west-1.db.astra.datastax.com:29042:0669df0f-031f-383e-b452-67a9679bbc6a. To avoid this, it is best practice to explicitly set Cluster(protocol_version) to the version supported by your cluster. http://datastax.github.io/python-driver/api/cassandra/cluster.html#cassandra.cluster.Cluster.protocol_version
WARNING:cassandra.cluster:Downgrading core protocol version from 5 to 4 for aa22374b-209d-4b53-962c-5c0f5f479246-eu-west-1.db.astra.datastax.com:29042:0669df0f-031f-383e-b452-67a9679bbc6a. To avoid this, it is best practice to explicitly set Cluster(protocol_version) to the version supported by your cluster. http://datastax.github.io/python-driver/api/cassandra/cluster.html#cassandra.cluster.Cluster.protocol_version

Connected!

In [13]:
   import pandas as pd

   # Load the CSV from GitHub URL
   url = "https://raw.githubusercontent.com/gchandra10/filestorage/main/sales_100.csv"
   data = pd.read_csv(url)

   print(data.head())

                         Region           Country  Item Type Sales Channel  \
0            Sub-Saharan Africa      South Africa     Fruits       Offline
1  Middle East and North Africa           Morocco    Clothes        Online
2         Australia and Oceania  Papua New Guinea       Meat       Offline
3            Sub-Saharan Africa          Djibouti    Clothes       Offline
4                        Europe          Slovakia  Beverages       Offline

  Order Priority  Order Date   Order ID   Ship Date  UnitsSold  UnitPrice  \
0              M   7/27/2012  443368995   7/28/2012       1593       9.33
1              M   9/14/2013  667593514  10/19/2013       4611     109.28
2              M   5/15/2015  940995585    6/4/2015        360     421.89
3              H   5/17/2017  880811536    7/2/2017        562     109.28
4              L  10/26/2016  174590194   12/4/2016       3973      47.45

   UnitCost  TotalRevenue  TotalCost  TotalProfit
0      6.92      14862.69   11023.56      3839.13
1     35.84     503890.08  165258.24    338631.84
2    364.69     151880.40  131288.40     20592.00
3     35.84      61415.36   20142.08     41273.28
4     31.79     188518.85  126301.67     62217.18

In [14]:
rows = session.execute("SELECT release_version FROM system.local;")
for row in rows:
    print(f"Cassandra Version: {row.release_version}")

Cassandra Version: 4.0.0.6816

In [17]:
# Set the keyspace
session.set_keyspace("example")  # Replace 'your_keyspace_name' with your actual keyspace

# Create the Bronze Table
session.execute("""
CREATE TABLE IF NOT EXISTS bronze_sales (
    order_id TEXT PRIMARY KEY,
        order_date TEXT,
            customer_name TEXT,  -- Placeholder column since it's not in your dataset
                product TEXT,
                    quantity INT,
                        price FLOAT,
                            total FLOAT
                            );
                            """)

print("Bronze table created successfully.")

Bronze table created successfully.

In [18]:
from cassandra.query import SimpleStatement

# Insert query for the Bronze table
insert_query = SimpleStatement("""
INSERT INTO bronze_sales (
    order_id, region, country, item_type, sales_channel,
    order_priority, order_date, ship_date, units_sold,
    unit_price, unit_cost, total_revenue, total_cost, total_profit
)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
""")

# Loop through each row of the DataFrame and insert into the Bronze table
for index, row in data.iterrows():
    try:
        # Explicitly cast all data to the correct types
        order_id = str(row['Order ID'])
        region = str(row['Region'])
        country = str(row['Country'])
        item_type = str(row['Item Type'])
        sales_channel = str(row['Sales Channel'])
        order_priority = str(row['Order Priority'])
        order_date = str(row['Order Date'])
        ship_date = str(row['Ship Date'])
        units_sold = int(row['UnitsSold'])
        unit_price = float(row['UnitPrice'])
        unit_cost = float(row['UnitCost'])
        total_revenue = float(row['TotalRevenue'])
        total_cost = float(row['TotalCost'])
        total_profit = float(row['TotalProfit'])

        # Insert data into the table
        session.execute(insert_query, (
            order_id, region, country, item_type, sales_channel,
            order_priority, order_date, ship_date, units_sold,
            unit_price, unit_cost, total_revenue, total_cost, total_profit
        ))
    except Exception as e:
        print(f"Error inserting row at index {index}: {e}")
        print(f"Row data: {row}")

print("Data inserted into Bronze table successfully.")

Error inserting row at index 0: not all arguments converted during string formatting
Row data: Region            Sub-Saharan Africa
Country                 South Africa
Item Type                     Fruits
Sales Channel                Offline
Order Priority                     M
Order Date                 7/27/2012
Order ID                   443368995
Ship Date                  7/28/2012
UnitsSold                       1593
UnitPrice                       9.33
UnitCost                        6.92
TotalRevenue                14862.69
TotalCost                   11023.56
TotalProfit                  3839.13
Name: 0, dtype: object
Error inserting row at index 1: not all arguments converted during string formatting
Row data: Region            Middle East and North Africa
Country                                Morocco
Item Type                              Clothes
Sales Channel                           Online
Order Priority                               M
Order Date                           9/14/2013
Order ID                             667593514
Ship Date                           10/19/2013
UnitsSold                                 4611
UnitPrice                               109.28
UnitCost                                 35.84
TotalRevenue                         503890.08
TotalCost                            165258.24
TotalProfit                          338631.84
Name: 1, dtype: object
Error inserting row at index 2: not all arguments converted during string formatting
Row data: Region            Australia and Oceania
Country                Papua New Guinea
Item Type                          Meat
Sales Channel                   Offline
Order Priority                        M
Order Date                    5/15/2015
Order ID                      940995585
Ship Date                      6/4/2015
UnitsSold                           360
UnitPrice                        421.89
UnitCost                         364.69
TotalRevenue                   151880.4
TotalCost                      131288.4
TotalProfit                     20592.0
Name: 2, dtype: object
Error inserting row at index 3: not all arguments converted during string formatting
Row data: Region            Sub-Saharan Africa
Country                     Djibouti
Item Type                    Clothes
Sales Channel                Offline
Order Priority                     H
Order Date                 5/17/2017
Order ID                   880811536
Ship Date                   7/2/2017
UnitsSold                        562
UnitPrice                     109.28
UnitCost                       35.84
TotalRevenue                61415.36
TotalCost                   20142.08
TotalProfit                 41273.28
Name: 3, dtype: object
Error inserting row at index 4: not all arguments converted during string formatting
Row data: Region                Europe
Country             Slovakia
Item Type          Beverages
Sales Channel        Offline
Order Priority             L
Order Date        10/26/2016
Order ID           174590194
Ship Date          12/4/2016
UnitsSold               3973
UnitPrice              47.45
UnitCost               31.79
TotalRevenue       188518.85
TotalCost          126301.67
TotalProfit         62217.18
Name: 4, dtype: object
Error inserting row at index 5: not all arguments converted during string formatting
Row data: Region                  Asia
Country            Sri Lanka
Item Type             Fruits
Sales Channel         Online
Order Priority             L
Order Date         11/7/2011
Order ID           830192887
Ship Date         12/18/2011
UnitsSold               1379
UnitPrice               9.33
UnitCost                6.92
TotalRevenue        12866.07
TotalCost            9542.68
TotalProfit          3323.39
Name: 5, dtype: object
Error inserting row at index 6: not all arguments converted during string formatting
Row data: Region            Sub-Saharan Africa
Country                  Seychelles
Item Type                  Beverages
Sales Channel                 Online
Order Priority                     M
Order Date                 1/18/2013
Order ID                   425793445
Ship Date                  2/16/2013
UnitsSold                        597
UnitPrice                      47.45
UnitCost                       31.79
TotalRevenue                28327.65
TotalCost                   18978.63
TotalProfit                  9349.02
Name: 6, dtype: object
Error inserting row at index 7: not all arguments converted during string formatting
Row data: Region            Sub-Saharan Africa
Country                     Tanzania
Item Type                  Beverages
Sales Channel                 Online
Order Priority                     L
Order Date                11/30/2016
Order ID                   659878194
Ship Date                  1/16/2017
UnitsSold                       1476
UnitPrice                      47.45
UnitCost                       31.79
TotalRevenue                 70036.2
TotalCost                   46922.04
TotalProfit                 23114.16
Name: 7, dtype: object
Error inserting row at index 8: not all arguments converted during string formatting
Row data: Region            Sub-Saharan Africa
Country                        Ghana
Item Type            Office Supplies
Sales Channel                 Online
Order Priority                     L
Order Date                 3/23/2017
Order ID                   601245963
Ship Date                  4/15/2017
UnitsSold                        896
UnitPrice                     651.21
UnitCost                      524.96
TotalRevenue               583484.16
TotalCost                  470364.16
TotalProfit                 113120.0
Name: 8, dtype: object
Error inserting row at index 9: not all arguments converted during string formatting
Row data: Region            Sub-Saharan Africa
Country                     Tanzania
Item Type                  Cosmetics
Sales Channel                Offline
Order Priority                     L
Order Date                 5/23/2016
Order ID                   739008080
Ship Date                  5/24/2016
UnitsSold                       7768
UnitPrice                      437.2
UnitCost                      263.33
TotalRevenue               3396169.6
TotalCost                 2045547.44
TotalProfit               1350622.16
Name: 9, dtype: object
Error inserting row at index 10: not all arguments converted during string formatting
Row data: Region                 Asia
Country              Taiwan
Item Type            Fruits
Sales Channel       Offline
Order Priority            M
Order Date         2/9/2014
Order ID          732588374
Ship Date         2/23/2014
UnitsSold              8034
UnitPrice              9.33
UnitCost               6.92
TotalRevenue       74957.22
TotalCost          55595.28
TotalProfit        19361.94
Name: 10, dtype: object
Error inserting row at index 11: not all arguments converted during string formatting
Row data: Region            Middle East and North Africa
Country                                Algeria
Item Type                            Cosmetics
Sales Channel                           Online
Order Priority                               M
Order Date                           2/18/2011
Order ID                             761723172
Ship Date                            2/24/2011
UnitsSold                                 9669
UnitPrice                                437.2
UnitCost                                263.33
TotalRevenue                         4227286.8
TotalCost                           2546137.77
TotalProfit                         1681149.03
Name: 11, dtype: object
Error inserting row at index 12: not all arguments converted during string formatting
Row data: Region                  Asia
Country            Singapore
Item Type             Snacks
Sales Channel         Online
Order Priority             C
Order Date         1/28/2013
Order ID           176461303
Ship Date           2/7/2013
UnitsSold               7676
UnitPrice             152.58
UnitCost               97.44
TotalRevenue      1171204.08
TotalCost          747949.44
TotalProfit        423254.64
Name: 12, dtype: object
Error inserting row at index 13: not all arguments converted during string formatting
Row data: Region            Australia and Oceania
Country                Papua New Guinea
Item Type                       Clothes
Sales Channel                   Offline
Order Priority                        L
Order Date                    6/20/2011
Order ID                      647164094
Ship Date                     7/14/2011
UnitsSold                          9092
UnitPrice                        109.28
UnitCost                          35.84
TotalRevenue                  993573.76
TotalCost                     325857.28
TotalProfit                   667716.48
Name: 13, dtype: object
Error inserting row at index 14: not all arguments converted during string formatting
Row data: Region                     Asia
Country                 Vietnam
Item Type         Personal Care
Sales Channel            Online
Order Priority                M
Order Date             4/4/2010
Order ID              314505374
Ship Date              5/6/2010
UnitsSold                  7984
UnitPrice                 81.73
UnitCost                  56.67
TotalRevenue          652532.32
TotalCost             452453.28
TotalProfit           200079.04
Name: 14, dtype: object
Error inserting row at index 15: not all arguments converted during string formatting
Row data: Region            Sub-Saharan Africa
Country                       Uganda
Item Type              Personal Care
Sales Channel                 Online
Order Priority                     M
Order Date                 6/19/2014
Order ID                   539471471
Ship Date                  7/21/2014
UnitsSold                        451
UnitPrice                      81.73
UnitCost                       56.67
TotalRevenue                36860.23
TotalCost                   25558.17
TotalProfit                 11302.06
Name: 15, dtype: object
Error inserting row at index 16: not all arguments converted during string formatting
Row data: Region            Sub-Saharan Africa
Country                     Zimbabwe
Item Type            Office Supplies
Sales Channel                Offline
Order Priority                     C
Order Date                 3/28/2011
Order ID                   953361213
Ship Date                   4/8/2011
UnitsSold                       9623
UnitPrice                     651.21
UnitCost                      524.96
TotalRevenue              6266593.83
TotalCost                 5051690.08
TotalProfit               1214903.75
Name: 16, dtype: object
Error inserting row at index 17: not all arguments converted during string formatting
Row data: Region            Sub-Saharan Africa
Country                     Ethiopia
Item Type                  Cosmetics
Sales Channel                 Online
Order Priority                     M
Order Date                  7/7/2011
Order ID                   807785928
Ship Date                  7/25/2011
UnitsSold                        662
UnitPrice                      437.2
UnitCost                      263.33
TotalRevenue                289426.4
TotalCost                  174324.46
TotalProfit                115101.94
Name: 17, dtype: object
Error inserting row at index 18: not all arguments converted during string formatting
Row data: Region                Europe
Country               France
Item Type          Cosmetics
Sales Channel         Online
Order Priority             M
Order Date         12/7/2015
Order ID           324669444
Ship Date          1/18/2016
UnitsSold               5758
UnitPrice              437.2
UnitCost              263.33
TotalRevenue       2517397.6
TotalCost         1516254.14
TotalProfit       1001143.46
Name: 18, dtype: object
Error inserting row at index 19: not all arguments converted during string formatting
Row data: Region            Central America and the Caribbean
Country                                 The Bahamas
Item Type                             Personal Care
Sales Channel                                Online
Order Priority                                    C
Order Date                                1/19/2011
Order ID                                  246248090
Ship Date                                 2/21/2011
UnitsSold                                      9137
UnitPrice                                     81.73
UnitCost                                      56.67
TotalRevenue                              746767.01
TotalCost                                 517793.79
TotalProfit                               228973.22
Name: 19, dtype: object
Error inserting row at index 20: not all arguments converted during string formatting
Row data: Region            Central America and the Caribbean
Country                                       Haiti
Item Type                           Office Supplies
Sales Channel                                Online
Order Priority                                    C
Order Date                               12/31/2010
Order ID                                  485070693
Ship Date                                 1/31/2011
UnitsSold                                      2052
UnitPrice                                    651.21
UnitCost                                     524.96
TotalRevenue                             1336282.92
TotalCost                                1077217.92
TotalProfit                                259065.0
Name: 20, dtype: object
Error inserting row at index 21: not all arguments converted during string formatting
Row data: Region            Central America and the Caribbean
Country                                   Nicaragua
Item Type                                 Household
Sales Channel                                Online
Order Priority                                    C
Order Date                               10/28/2015
Order ID                                  573998582
Ship Date                                 12/7/2015
UnitsSold                                      7791
UnitPrice                                    668.27
UnitCost                                     502.54
TotalRevenue                             5206491.57
TotalCost                                3915289.14
TotalProfit                              1291202.43
Name: 21, dtype: object
Error inserting row at index 22: not all arguments converted during string formatting
Row data: Region                    Asia
Country           Turkmenistan
Item Type           Vegetables
Sales Channel           Online
Order Priority               M
Order Date           4/13/2015
Order ID             116205585
Ship Date             6/2/2015
UnitsSold                 6670
UnitPrice               154.06
UnitCost                 90.93
TotalRevenue         1027580.2
TotalCost             606503.1
TotalProfit           421077.1
Name: 22, dtype: object
Error inserting row at index 23: not all arguments converted during string formatting
Row data: Region                    Europe
Country           United Kingdom
Item Type              Cosmetics
Sales Channel             Online
Order Priority                 L
Order Date              5/1/2015
Order ID               135178029
Ship Date              5/16/2015
UnitsSold                   1038
UnitPrice                  437.2
UnitCost                  263.33
TotalRevenue            453813.6
TotalCost              273336.54
TotalProfit            180477.06
Name: 23, dtype: object
Error inserting row at index 24: not all arguments converted during string formatting
Row data: Region            Central America and the Caribbean
Country                          Dominican Republic
Item Type                                 Baby Food
Sales Channel                               Offline
Order Priority                                    H
Order Date                                8/25/2011
Order ID                                  824714744
Ship Date                                 9/24/2011
UnitsSold                                       274
UnitPrice                                    255.28
UnitCost                                     159.42
TotalRevenue                               69946.72
TotalCost                                  43681.08
TotalProfit                                26265.64
Name: 24, dtype: object
Error inserting row at index 25: not all arguments converted during string formatting
Row data: Region                       Asia
Country                     China
Item Type         Office Supplies
Sales Channel              Online
Order Priority                  M
Order Date              2/10/2016
Order ID                198927056
Ship Date               3/29/2016
UnitsSold                    5791
UnitPrice                  651.21
UnitCost                   524.96
TotalRevenue           3771157.11
TotalCost              3040043.36
TotalProfit             731113.75
Name: 25, dtype: object
Error inserting row at index 26: not all arguments converted during string formatting
Row data: Region            Sub-Saharan Africa
Country                       Uganda
Item Type                  Cosmetics
Sales Channel                 Online
Order Priority                     M
Order Date                 2/28/2015
Order ID                   842238795
Ship Date                  3/15/2015
UnitsSold                       6031
UnitPrice                      437.2
UnitCost                      263.33
TotalRevenue               2636753.2
TotalCost                 1588143.23
TotalProfit               1048609.97
Name: 26, dtype: object
Error inserting row at index 27: not all arguments converted during string formatting
Row data: Region            Middle East and North Africa
Country                                 Kuwait
Item Type                            Household
Sales Channel                          Offline
Order Priority                               C
Order Date                           6/13/2011
Order ID                             459386289
Ship Date                            7/21/2011
UnitsSold                                 1466
UnitPrice                               668.27
UnitCost                                502.54
TotalRevenue                         979683.82
TotalCost                            736723.64
TotalProfit                          242960.18
Name: 27, dtype: object
Error inserting row at index 28: not all arguments converted during string formatting
Row data: Region            Middle East and North Africa
Country                   United Arab Emirates
Item Type                      Office Supplies
Sales Channel                           Online
Order Priority                               M
Order Date                           6/23/2012
Order ID                             425418365
Ship Date                             7/6/2012
UnitsSold                                 9603
UnitPrice                               651.21
UnitCost                                524.96
TotalRevenue                        6253569.63
TotalCost                           5041190.88
TotalProfit                         1212378.75
Name: 28, dtype: object
Error inserting row at index 29: not all arguments converted during string formatting
Row data: Region                Europe
Country              Estonia
Item Type          Household
Sales Channel        Offline
Order Priority             H
Order Date          9/1/2011
Order ID           835696351
Ship Date         10/21/2011
UnitsSold               9976
UnitPrice             668.27
UnitCost              502.54
TotalRevenue      6666661.52
TotalCost         5013339.04
TotalProfit       1653322.48
Name: 29, dtype: object
Error inserting row at index 30: not all arguments converted during string formatting
Row data: Region                  Asia
Country             Malaysia
Item Type          Beverages
Sales Channel         Online
Order Priority             M
Order Date        11/13/2014
Order ID           955894076
Ship Date         12/28/2014

In [19]:
# Create the Silver table
session.execute("""
CREATE TABLE IF NOT EXISTS silver_sales (
    order_id TEXT PRIMARY KEY,
    region TEXT,
    country TEXT,
    product TEXT,
    sales_channel TEXT,
    order_priority TEXT,
    order_date DATE,
    ship_date DATE,
    units_sold INT,
    unit_price FLOAT,
    unit_cost FLOAT,
    total_revenue FLOAT,
    total_cost FLOAT,
    total_profit FLOAT
);
""")

print("Silver table created successfully.")

Silver table created successfully.

In [20]:
from datetime import datetime
from cassandra.query import SimpleStatement

# Insert query for the Silver table
silver_insert_query = SimpleStatement("""
INSERT INTO silver_sales (
    order_id, region, country, product, sales_channel,
    order_priority, order_date, ship_date, units_sold,
    unit_price, unit_cost, total_revenue, total_cost, total_profit
)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
""")

# Loop through each row of the DataFrame and insert into the Silver table
for index, row in data.iterrows():
    try:
        # Explicitly cast all data to the correct types
        order_id = str(row['Order ID']) if not pd.isnull(row['Order ID']) else 'Unknown'
        region = str(row['Region']) if not pd.isnull(row['Region']) else 'Unknown'
        country = str(row['Country']) if not pd.isnull(row['Country']) else 'Unknown'
        item_type = str(row['Item Type']) if not pd.isnull(row['Item Type']) else 'Unknown'
        sales_channel = str(row['Sales Channel']) if not pd.isnull(row['Sales Channel']) else 'Unknown'
        order_priority = str(row['Order Priority']) if not pd.isnull(row['Order Priority']) else 'Unknown'
        order_date = datetime.strptime(row['Order Date'], '%m/%d/%Y').date() if not pd.isnull(row['Order Date']) else datetime(1970, 1, 1).date()
        ship_date = datetime.strptime(row['Ship Date'], '%m/%d/%Y').date() if not pd.isnull(row['Ship Date']) else datetime(1970, 1, 1).date()
        units_sold = int(row['UnitsSold']) if not pd.isnull(row['UnitsSold']) else 0
        unit_price = float(row['UnitPrice']) if not pd.isnull(row['UnitPrice']) else 0.0
        unit_cost = float(row['UnitCost']) if not pd.isnull(row['UnitCost']) else 0.0
        total_revenue = float(row['TotalRevenue']) if not pd.isnull(row['TotalRevenue']) else 0.0
        total_cost = float(row['TotalCost']) if not pd.isnull(row['TotalCost']) else 0.0
        total_profit = float(row['TotalProfit']) if not pd.isnull(row['TotalProfit']) else 0.0

        # Insert data into the Silver table
        session.execute(silver_insert_query, (
            order_id, region, country, item_type, sales_channel,
            order_priority, order_date, ship_date, units_sold,
            unit_price, unit_cost, total_revenue, total_cost, total_profit
        ))

    except Exception as e:
        print(f"Error inserting row at index {index}: {e}")
        print(f"Row data: {row}")

print("Data inserted into Silver table successfully.")

Error inserting row at index 0: not all arguments converted during string formatting
Row data: Region            Sub-Saharan Africa
Country                 South Africa
Item Type                     Fruits
Sales Channel                Offline
Order Priority                     M
Order Date                 7/27/2012
Order ID                   443368995
Ship Date                  7/28/2012
UnitsSold                       1593
UnitPrice                       9.33
UnitCost                        6.92
TotalRevenue                14862.69
TotalCost                   11023.56
TotalProfit                  3839.13
Name: 0, dtype: object
Error inserting row at index 1: not all arguments converted during string formatting
Row data: Region            Middle East and North Africa
Country                                Morocco
Item Type                              Clothes
Sales Channel                           Online
Order Priority                               M
Order Date                           9/14/2013
Order ID                             667593514
Ship Date                           10/19/2013
UnitsSold                                 4611
UnitPrice                               109.28
UnitCost                                 35.84
TotalRevenue                         503890.08
TotalCost                            165258.24
TotalProfit                          338631.84
Name: 1, dtype: object
Error inserting row at index 2: not all arguments converted during string formatting
Row data: Region            Australia and Oceania
Country                Papua New Guinea
Item Type                          Meat
Sales Channel                   Offline
Order Priority                        M
Order Date                    5/15/2015
Order ID                      940995585
Ship Date                      6/4/2015
UnitsSold                           360
UnitPrice                        421.89
UnitCost                         364.69
TotalRevenue                   151880.4
TotalCost                      131288.4
TotalProfit                     20592.0
Name: 2, dtype: object
Error inserting row at index 3: not all arguments converted during string formatting
Row data: Region            Sub-Saharan Africa
Country                     Djibouti
Item Type                    Clothes
Sales Channel                Offline
Order Priority                     H
Order Date                 5/17/2017
Order ID                   880811536
Ship Date                   7/2/2017
UnitsSold                        562
UnitPrice                     109.28
UnitCost                       35.84
TotalRevenue                61415.36
TotalCost                   20142.08
TotalProfit                 41273.28
Name: 3, dtype: object
Error inserting row at index 4: not all arguments converted during string formatting
Row data: Region                Europe
Country             Slovakia
Item Type          Beverages
Sales Channel        Offline
Order Priority             L
Order Date        10/26/2016
Order ID           174590194
Ship Date          12/4/2016
UnitsSold               3973
UnitPrice              47.45
UnitCost               31.79
TotalRevenue       188518.85
TotalCost          126301.67
TotalProfit         62217.18
Name: 4, dtype: object
Error inserting row at index 5: not all arguments converted during string formatting
Row data: Region                  Asia
Country            Sri Lanka
Item Type             Fruits
Sales Channel         Online
Order Priority             L
Order Date         11/7/2011
Order ID           830192887
Ship Date         12/18/2011
UnitsSold               1379
UnitPrice               9.33
UnitCost                6.92
TotalRevenue        12866.07
TotalCost            9542.68
TotalProfit          3323.39
Name: 5, dtype: object
Error inserting row at index 6: not all arguments converted during string formatting
Row data: Region            Sub-Saharan Africa
Country                  Seychelles
Item Type                  Beverages
Sales Channel                 Online
Order Priority                     M
Order Date                 1/18/2013
Order ID                   425793445
Ship Date                  2/16/2013
UnitsSold                        597
UnitPrice                      47.45
UnitCost                       31.79
TotalRevenue                28327.65
TotalCost                   18978.63
TotalProfit                  9349.02
Name: 6, dtype: object
Error inserting row at index 7: not all arguments converted during string formatting
Row data: Region            Sub-Saharan Africa
Country                     Tanzania
Item Type                  Beverages
Sales Channel                 Online
Order Priority                     L
Order Date                11/30/2016
Order ID                   659878194
Ship Date                  1/16/2017
UnitsSold                       1476
UnitPrice                      47.45
UnitCost                       31.79
TotalRevenue                 70036.2
TotalCost                   46922.04
TotalProfit                 23114.16
Name: 7, dtype: object
Error inserting row at index 8: not all arguments converted during string formatting
Row data: Region            Sub-Saharan Africa
Country                        Ghana
Item Type            Office Supplies
Sales Channel                 Online
Order Priority                     L
Order Date                 3/23/2017
Order ID                   601245963
Ship Date                  4/15/2017
UnitsSold                        896
UnitPrice                     651.21
UnitCost                      524.96
TotalRevenue               583484.16
TotalCost                  470364.16
TotalProfit                 113120.0
Name: 8, dtype: object
Error inserting row at index 9: not all arguments converted during string formatting
Row data: Region            Sub-Saharan Africa
Country                     Tanzania
Item Type                  Cosmetics
Sales Channel                Offline
Order Priority                     L
Order Date                 5/23/2016
Order ID                   739008080
Ship Date                  5/24/2016
UnitsSold                       7768
UnitPrice                      437.2
UnitCost                      263.33
TotalRevenue               3396169.6
TotalCost                 2045547.44
TotalProfit               1350622.16
Name: 9, dtype: object
Error inserting row at index 10: not all arguments converted during string formatting
Row data: Region                 Asia
Country              Taiwan
Item Type            Fruits
Sales Channel       Offline
Order Priority            M
Order Date         2/9/2014
Order ID          732588374
Ship Date         2/23/2014
UnitsSold              8034
UnitPrice              9.33
UnitCost               6.92
TotalRevenue       74957.22
TotalCost          55595.28
TotalProfit        19361.94
Name: 10, dtype: object
Error inserting row at index 11: not all arguments converted during string formatting
Row data: Region            Middle East and North Africa
Country                                Algeria
Item Type                            Cosmetics
Sales Channel                           Online
Order Priority                               M
Order Date                           2/18/2011
Order ID                             761723172
Ship Date                            2/24/2011
UnitsSold                                 9669
UnitPrice                                437.2
UnitCost                                263.33
TotalRevenue                         4227286.8
TotalCost                           2546137.77
TotalProfit                         1681149.03
Name: 11, dtype: object
Error inserting row at index 12: not all arguments converted during string formatting
Row data: Region                  Asia
Country            Singapore
Item Type             Snacks
Sales Channel         Online
Order Priority             C
Order Date         1/28/2013
Order ID           176461303
Ship Date           2/7/2013
UnitsSold               7676
UnitPrice             152.58
UnitCost               97.44
TotalRevenue      1171204.08
TotalCost          747949.44
TotalProfit        423254.64
Name: 12, dtype: object
Error inserting row at index 13: not all arguments converted during string formatting
Row data: Region            Australia and Oceania
Country                Papua New Guinea
Item Type                       Clothes
Sales Channel                   Offline
Order Priority                        L
Order Date                    6/20/2011
Order ID                      647164094
Ship Date                     7/14/2011
UnitsSold                          9092
UnitPrice                        109.28
UnitCost                          35.84
TotalRevenue                  993573.76
TotalCost                     325857.28
TotalProfit                   667716.48
Name: 13, dtype: object
Error inserting row at index 14: not all arguments converted during string formatting
Row data: Region                     Asia
Country                 Vietnam
Item Type         Personal Care
Sales Channel            Online
Order Priority                M
Order Date             4/4/2010
Order ID              314505374
Ship Date              5/6/2010
UnitsSold                  7984
UnitPrice                 81.73
UnitCost                  56.67
TotalRevenue          652532.32
TotalCost             452453.28
TotalProfit           200079.04
Name: 14, dtype: object
Error inserting row at index 15: not all arguments converted during string formatting
Row data: Region            Sub-Saharan Africa
Country                       Uganda
Item Type              Personal Care
Sales Channel                 Online
Order Priority                     M
Order Date                 6/19/2014
Order ID                   539471471
Ship Date                  7/21/2014
UnitsSold                        451
UnitPrice                      81.73
UnitCost                       56.67
TotalRevenue                36860.23
TotalCost                   25558.17
TotalProfit                 11302.06
Name: 15, dtype: object
Error inserting row at index 16: not all arguments converted during string formatting
Row data: Region            Sub-Saharan Africa
Country                     Zimbabwe
Item Type            Office Supplies
Sales Channel                Offline
Order Priority                     C
Order Date                 3/28/2011
Order ID                   953361213
Ship Date                   4/8/2011
UnitsSold                       9623
UnitPrice                     651.21
UnitCost                      524.96
TotalRevenue              6266593.83
TotalCost                 5051690.08
TotalProfit               1214903.75
Name: 16, dtype: object
Error inserting row at index 17: not all arguments converted during string formatting
Row data: Region            Sub-Saharan Africa
Country                     Ethiopia
Item Type                  Cosmetics
Sales Channel                 Online
Order Priority                     M
Order Date                  7/7/2011
Order ID                   807785928
Ship Date                  7/25/2011
UnitsSold                        662
UnitPrice                      437.2
UnitCost                      263.33
TotalRevenue                289426.4
TotalCost                  174324.46
TotalProfit                115101.94
Name: 17, dtype: object
Error inserting row at index 18: not all arguments converted during string formatting
Row data: Region                Europe
Country               France
Item Type          Cosmetics
Sales Channel         Online
Order Priority             M
Order Date         12/7/2015
Order ID           324669444
Ship Date          1/18/2016
UnitsSold               5758
UnitPrice              437.2
UnitCost              263.33
TotalRevenue       2517397.6
TotalCost         1516254.14
TotalProfit       1001143.46
Name: 18, dtype: object
Error inserting row at index 19: not all arguments converted during string formatting
Row data: Region            Central America and the Caribbean
Country                                 The Bahamas
Item Type                             Personal Care
Sales Channel                                Online
Order Priority                                    C
Order Date                                1/19/2011
Order ID                                  246248090
Ship Date                                 2/21/2011
UnitsSold                                      9137
UnitPrice                                     81.73
UnitCost                                      56.67
TotalRevenue                              746767.01
TotalCost                                 517793.79
TotalProfit                               228973.22
Name: 19, dtype: object
Error inserting row at index 20: not all arguments converted during string formatting
Row data: Region            Central America and the Caribbean
Country                                       Haiti
Item Type                           Office Supplies
Sales Channel                                Online
Order Priority                                    C
Order Date                               12/31/2010
Order ID                                  485070693
Ship Date                                 1/31/2011
UnitsSold                                      2052
UnitPrice                                    651.21
UnitCost                                     524.96
TotalRevenue                             1336282.92
TotalCost                                1077217.92
TotalProfit                                259065.0
Name: 20, dtype: object
Error inserting row at index 21: not all arguments converted during string formatting
Row data: Region            Central America and the Caribbean
Country                                   Nicaragua
Item Type                                 Household
Sales Channel                                Online
Order Priority                                    C
Order Date                               10/28/2015
Order ID                                  573998582
Ship Date                                 12/7/2015
UnitsSold                                      7791
UnitPrice                                    668.27
UnitCost                                     502.54
TotalRevenue                             5206491.57
TotalCost                                3915289.14
TotalProfit                              1291202.43
Name: 21, dtype: object
Error inserting row at index 22: not all arguments converted during string formatting
Row data: Region                    Asia
Country           Turkmenistan
Item Type           Vegetables
Sales Channel           Online
Order Priority               M
Order Date           4/13/2015
Order ID             116205585
Ship Date             6/2/2015
UnitsSold                 6670
UnitPrice               154.06
UnitCost                 90.93
TotalRevenue         1027580.2
TotalCost             606503.1
TotalProfit           421077.1
Name: 22, dtype: object
Error inserting row at index 23: not all arguments converted during string formatting
Row data: Region                    Europe
Country           United Kingdom
Item Type              Cosmetics
Sales Channel             Online
Order Priority                 L
Order Date              5/1/2015
Order ID               135178029
Ship Date              5/16/2015
UnitsSold                   1038
UnitPrice                  437.2
UnitCost                  263.33
TotalRevenue            453813.6
TotalCost              273336.54
TotalProfit            180477.06
Name: 23, dtype: object
Error inserting row at index 24: not all arguments converted during string formatting
Row data: Region            Central America and the Caribbean
Country                          Dominican Republic
Item Type                                 Baby Food
Sales Channel                               Offline
Order Priority                                    H
Order Date                                8/25/2011
Order ID                                  824714744
Ship Date                                 9/24/2011
UnitsSold                                       274
UnitPrice                                    255.28
UnitCost                                     159.42
TotalRevenue                               69946.72
TotalCost                                  43681.08
TotalProfit                                26265.64
Name: 24, dtype: object
Error inserting row at index 25: not all arguments converted during string formatting
Row data: Region                       Asia
Country                     China
Item Type         Office Supplies
Sales Channel              Online
Order Priority                  M
Order Date              2/10/2016
Order ID                198927056
Ship Date               3/29/2016
UnitsSold                    5791
UnitPrice                  651.21
UnitCost                   524.96
TotalRevenue           3771157.11
TotalCost              3040043.36
TotalProfit             731113.75
Name: 25, dtype: object
Error inserting row at index 26: not all arguments converted during string formatting
Row data: Region            Sub-Saharan Africa
Country                       Uganda
Item Type                  Cosmetics
Sales Channel                 Online
Order Priority                     M
Order Date                 2/28/2015
Order ID                   842238795
Ship Date                  3/15/2015
UnitsSold                       6031
UnitPrice                      437.2
UnitCost                      263.33
TotalRevenue               2636753.2
TotalCost                 1588143.23
TotalProfit               1048609.97
Name: 26, dtype: object
Error inserting row at index 27: not all arguments converted during string formatting
Row data: Region            Middle East and North Africa
Country                                 Kuwait
Item Type                            Household
Sales Channel                          Offline
Order Priority                               C
Order Date                           6/13/2011
Order ID                             459386289
Ship Date                            7/21/2011
UnitsSold                                 1466
UnitPrice                               668.27
UnitCost                                502.54
TotalRevenue                         979683.82
TotalCost                            736723.64
TotalProfit                          242960.18
Name: 27, dtype: object
Error inserting row at index 28: not all arguments converted during string formatting
Row data: Region            Middle East and North Africa
Country                   United Arab Emirates
Item Type                      Office Supplies
Sales Channel                           Online
Order Priority                               M
Order Date                           6/23/2012
Order ID                             425418365
Ship Date                             7/6/2012
UnitsSold                                 9603
UnitPrice                               651.21
UnitCost                                524.96
TotalRevenue                        6253569.63
TotalCost                           5041190.88
TotalProfit                         1212378.75
Name: 28, dtype: object
Error inserting row at index 29: not all arguments converted during string formatting
Row data: Region                Europe
Country              Estonia
Item Type          Household
Sales Channel        Offline
Order Priority             H
Order Date          9/1/2011
Order ID           835696351
Ship Date         10/21/2011
UnitsSold               9976
UnitPrice             668.27
UnitCost              502.54
TotalRevenue      6666661.52
TotalCost         5013339.04
TotalProfit       1653322.48
Name: 29, dtype: object
Error inserting row at index 30: not all arguments converted during string formatting
Row data: Region                  Asia
Country             Malaysia
Item Type          Beverages
Sales Channel         Online
Order Priority             M
Order Date        11/13/2014
Order ID           955894076
Ship Date         12/28/2014

In [21]:
session.execute("""
CREATE TABLE IF NOT EXISTS gold_sales_by_product (
    product TEXT PRIMARY KEY,
    total_units_sold INT,
    total_revenue FLOAT
);
""")
print("Gold table for Sales by Product created successfully.")

Gold table for Sales by Product created successfully.

In [22]:
from cassandra.query import SimpleStatement

# Aggregate data by product
product_sales = data.groupby('Item Type').agg({
    'UnitsSold': 'sum',
    'TotalRevenue': 'sum'
}).reset_index()

# Rename columns to match the query parameters
product_sales.rename(columns={
    'Item Type': 'product',
    'UnitsSold': 'total_units_sold',
    'TotalRevenue': 'total_revenue'
}, inplace=True)

# Ensure proper data types
product_sales['product'] = product_sales['product'].astype(str)
product_sales['total_units_sold'] = product_sales['total_units_sold'].astype(int)
product_sales['total_revenue'] = product_sales['total_revenue'].astype(float)

# Fill missing values
product_sales.fillna({
      'product': 'Unknown',
      'total_units_sold': 0,
      'total_revenue': 0.0
}, inplace=True)

# Create the Gold table for Sales by Product
session.execute("""
CREATE TABLE IF NOT EXISTS gold_sales_by_product (
    product TEXT PRIMARY KEY,
    total_units_sold INT,
    total_revenue FLOAT
);
""")
print("Gold table for Sales by Product created successfully.")

# Prepare the insert query
gold_insert_query = SimpleStatement("""
INSERT INTO gold_sales_by_product (product, total_units_sold, total_revenue)
VALUES (%s, %s, %s)
""")

# Insert rows into the Gold table
for _, row in product_sales.iterrows():
    try:
        # Print the data being inserted
        print("Inserting:", row['product'], int(row['total_units_sold']), float(row['total_revenue']))

        # Execute the insert query
        session.execute(gold_insert_query, (
            row['product'],                # Product name
            int(row['total_units_sold']),  # Total Units Sold
            float(row['total_revenue'])    # Total Revenue
        ))
    except Exception as e:
        print(f"Error inserting row: {row}, Error: {e}")

print("Data inserted into Gold table for Sales by Product successfully.")

rows = session.execute("SELECT * FROM gold_sales_by_product;")
for row in rows:
    print(row)

Gold table for Sales by Product created successfully.
Inserting: Baby Food 20372 5200564.16
Inserting: Beverages 45206 2145024.7
Inserting: Cereal 45776 9416123.2
Inserting: Clothes 40148 4387373.44
Inserting: Cosmetics 65707 28727100.4
Inserting: Fruits 65920 615033.6
Inserting: Household 57640 38519082.8
Inserting: Meat 50437 21278865.93
Inserting: Office Supplies 42814 27880904.94
Inserting: Personal Care 39045 3191147.8499999996
Inserting: Snacks 14377 2193642.66
Inserting: Vegetables 7368 1135114.08
Data inserted into Gold table for Sales by Product successfully.
Row(product='Household', total_revenue=38519084.0, total_units_sold=57640)
Row(product='Office Supplies', total_revenue=27880904.0, total_units_sold=42814)
Row(product='Vegetables', total_revenue=1135114.125, total_units_sold=7368)
Row(product='Snacks', total_revenue=2193642.75, total_units_sold=14377)
Row(product='Personal Care', total_revenue=3191147.75, total_units_sold=39045)
Row(product='Meat', total_revenue=21278866.0, total_units_sold=50437)
Row(product='Fruits', total_revenue=615033.625, total_units_sold=65920)
Row(product='Beverages', total_revenue=2145024.75, total_units_sold=45206)
Row(product='Cereal', total_revenue=9416123.0, total_units_sold=45776)
Row(product='Cosmetics', total_revenue=28727100.0, total_units_sold=65707)
Row(product='Baby Food', total_revenue=5200564.0, total_units_sold=20372)
Row(product='Clothes', total_revenue=4387373.5, total_units_sold=40148)

In [23]:
session.execute("""
CREATE TABLE IF NOT EXISTS gold_sales_by_region (
    region TEXT PRIMARY KEY,
    total_units_sold INT,
    total_revenue FLOAT
);
""")
print("Gold table for Sales by Region created successfully.")

Gold table for Sales by Region created successfully.

In [24]:
from cassandra.query import SimpleStatement

# Aggregate data by region
region_sales = data.groupby('Region').agg({
    'UnitsSold': 'sum',
    'TotalRevenue': 'sum'
}).reset_index()

# Ensure proper data types
region_sales['Region'] = region_sales['Region'].astype(str)
region_sales['UnitsSold'] = region_sales['UnitsSold'].astype(int)
region_sales['TotalRevenue'] = region_sales['TotalRevenue'].astype(float)

# Create the Gold table for Sales by Region
session.execute("""
CREATE TABLE IF NOT EXISTS gold_sales_by_region (
    region TEXT PRIMARY KEY,
    total_units_sold INT,
    total_revenue FLOAT
);
""")
print("Gold table for Sales by Region created successfully.")

# Insert query for Gold table
gold_insert_query = SimpleStatement("""
INSERT INTO gold_sales_by_region (region, total_units_sold, total_revenue)
VALUES (%s, %s, %s)
""")

# Insert rows into the Gold table
for _, row in region_sales.iterrows():
    try:
        # Print the data being inserted
        print("Inserting:", row['Region'], int(row['UnitsSold']), float(row['TotalRevenue']))

        # Execute the query
        session.execute(gold_insert_query, (
            row['Region'],                # Region
            int(row['UnitsSold']),        # Total Units Sold
            float(row['TotalRevenue'])    # Total Revenue
        ))
    except Exception as e:
        print(f"Error inserting row: {row}, Error: {e}")

print("Data inserted into Gold table for Sales by Region successfully.")

rows = session.execute("SELECT * FROM gold_sales_by_region;")
for row in rows:
    print(row)

Gold table for Sales by Region created successfully.
Inserting: Asia 113129 28840812.19
Inserting: Australia and Oceania 42328 10711258.129999999
Inserting: Central America and the Caribbean 53641 17570835.419999998
Inserting: Europe 121002 34964749.83
Inserting: Middle East and North Africa 60376 24765127.25
Inserting: North America 11728 3611757.5199999996
Inserting: Sub-Saharan Africa 92606 24225437.42
Data inserted into Gold table for Sales by Region successfully.
Row(region='Australia and Oceania', total_revenue=10711258.0, total_units_sold=42328)
Row(region='Europe', total_revenue=34964748.0, total_units_sold=121002)
Row(region='Middle East and North Africa', total_revenue=24765128.0, total_units_sold=60376)
Row(region='Central America and the Caribbean', total_revenue=17570836.0, total_units_sold=53641)
Row(region='Asia', total_revenue=28840812.0, total_units_sold=113129)
Row(region='Sub-Saharan Africa', total_revenue=24225438.0, total_units_sold=92606)
Row(region='North America', total_revenue=3611757.5, total_units_sold=11728)

In [25]:
session.execute("""
CREATE TABLE IF NOT EXISTS gold_total_sales (
    total_units_sold INT PRIMARY KEY,
    total_revenue FLOAT
);
""")
print("Gold table for Total Sales created successfully.")

Gold table for Total Sales created successfully.

In [26]:
total_units_sold = data['UnitsSold'].sum()
total_revenue = data['TotalRevenue'].sum()

session.execute("""
INSERT INTO gold_total_sales (total_units_sold, total_revenue)
VALUES (%s, %s)
""", (total_units_sold, total_revenue))
print("Data inserted into Gold table for Total Sales successfully.")

# Example for Sales by Producthm
rows = session.execute("SELECT * FROM gold_sales_by_product;")
for row in rows:
    print(row)

Data inserted into Gold table for Total Sales successfully.
Row(product='Household', total_revenue=38519084.0, total_units_sold=57640)
Row(product='Office Supplies', total_revenue=27880904.0, total_units_sold=42814)
Row(product='Vegetables', total_revenue=1135114.125, total_units_sold=7368)
Row(product='Snacks', total_revenue=2193642.75, total_units_sold=14377)
Row(product='Personal Care', total_revenue=3191147.75, total_units_sold=39045)
Row(product='Meat', total_revenue=21278866.0, total_units_sold=50437)
Row(product='Fruits', total_revenue=615033.625, total_units_sold=65920)
Row(product='Beverages', total_revenue=2145024.75, total_units_sold=45206)
Row(product='Cereal', total_revenue=9416123.0, total_units_sold=45776)
Row(product='Cosmetics', total_revenue=28727100.0, total_units_sold=65707)
Row(product='Baby Food', total_revenue=5200564.0, total_units_sold=20372)
Row(product='Clothes', total_revenue=4387373.5, total_units_sold=40148)

In [27]:
# Query for golden table: Sales by Product
rows_product = session.execute("SELECT * FROM gold_sales_by_product;")
print("Gold Table: Sales by Product Data:")
for row in rows_product:
    print(row)

# Query for golden table: Sales by Region
rows_region = session.execute("SELECT * FROM gold_sales_by_region;")
print("Gold Table: Sales by Region Data:")
for row in rows_region:
    print(row)

# Query for golden table: Total Sales
rows_total_sales = session.execute("SELECT * FROM gold_total_sales;")
print("Gold Table: Total Sales Data:")
for row in rows_total_sales:
    print(row)

Gold Table: Sales by Product Data:
Row(product='Household', total_revenue=38519084.0, total_units_sold=57640)
Gold Table: Sales by Region Data:
Row(region='Australia and Oceania', total_revenue=10711258.0, total_units_sold=42328)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Europe', total_revenue=34964748.0, total_units_sold=121002)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Middle East and North Africa', total_revenue=24765128.0, total_units_sold=60376)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Central America and the Caribbean', total_revenue=17570836.0, total_units_sold=53641)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Asia', total_revenue=28840812.0, total_units_sold=113129)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Sub-Saharan Africa', total_revenue=24225438.0, total_units_sold=92606)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='North America', total_revenue=3611757.5, total_units_sold=11728)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(product='Office Supplies', total_revenue=27880904.0, total_units_sold=42814)
Gold Table: Sales by Region Data:
Row(region='Australia and Oceania', total_revenue=10711258.0, total_units_sold=42328)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Europe', total_revenue=34964748.0, total_units_sold=121002)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Middle East and North Africa', total_revenue=24765128.0, total_units_sold=60376)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Central America and the Caribbean', total_revenue=17570836.0, total_units_sold=53641)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Asia', total_revenue=28840812.0, total_units_sold=113129)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Sub-Saharan Africa', total_revenue=24225438.0, total_units_sold=92606)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='North America', total_revenue=3611757.5, total_units_sold=11728)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(product='Vegetables', total_revenue=1135114.125, total_units_sold=7368)
Gold Table: Sales by Region Data:
Row(region='Australia and Oceania', total_revenue=10711258.0, total_units_sold=42328)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Europe', total_revenue=34964748.0, total_units_sold=121002)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Middle East and North Africa', total_revenue=24765128.0, total_units_sold=60376)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Central America and the Caribbean', total_revenue=17570836.0, total_units_sold=53641)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Asia', total_revenue=28840812.0, total_units_sold=113129)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Sub-Saharan Africa', total_revenue=24225438.0, total_units_sold=92606)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='North America', total_revenue=3611757.5, total_units_sold=11728)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(product='Snacks', total_revenue=2193642.75, total_units_sold=14377)
Gold Table: Sales by Region Data:
Row(region='Australia and Oceania', total_revenue=10711258.0, total_units_sold=42328)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Europe', total_revenue=34964748.0, total_units_sold=121002)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Middle East and North Africa', total_revenue=24765128.0, total_units_sold=60376)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Central America and the Caribbean', total_revenue=17570836.0, total_units_sold=53641)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Asia', total_revenue=28840812.0, total_units_sold=113129)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Sub-Saharan Africa', total_revenue=24225438.0, total_units_sold=92606)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='North America', total_revenue=3611757.5, total_units_sold=11728)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(product='Personal Care', total_revenue=3191147.75, total_units_sold=39045)
Gold Table: Sales by Region Data:
Row(region='Australia and Oceania', total_revenue=10711258.0, total_units_sold=42328)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Europe', total_revenue=34964748.0, total_units_sold=121002)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Middle East and North Africa', total_revenue=24765128.0, total_units_sold=60376)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Central America and the Caribbean', total_revenue=17570836.0, total_units_sold=53641)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Asia', total_revenue=28840812.0, total_units_sold=113129)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Sub-Saharan Africa', total_revenue=24225438.0, total_units_sold=92606)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='North America', total_revenue=3611757.5, total_units_sold=11728)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(product='Meat', total_revenue=21278866.0, total_units_sold=50437)
Gold Table: Sales by Region Data:
Row(region='Australia and Oceania', total_revenue=10711258.0, total_units_sold=42328)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Europe', total_revenue=34964748.0, total_units_sold=121002)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Middle East and North Africa', total_revenue=24765128.0, total_units_sold=60376)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Central America and the Caribbean', total_revenue=17570836.0, total_units_sold=53641)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Asia', total_revenue=28840812.0, total_units_sold=113129)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Sub-Saharan Africa', total_revenue=24225438.0, total_units_sold=92606)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='North America', total_revenue=3611757.5, total_units_sold=11728)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(product='Fruits', total_revenue=615033.625, total_units_sold=65920)
Gold Table: Sales by Region Data:
Row(region='Australia and Oceania', total_revenue=10711258.0, total_units_sold=42328)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Europe', total_revenue=34964748.0, total_units_sold=121002)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Middle East and North Africa', total_revenue=24765128.0, total_units_sold=60376)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Central America and the Caribbean', total_revenue=17570836.0, total_units_sold=53641)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Asia', total_revenue=28840812.0, total_units_sold=113129)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Sub-Saharan Africa', total_revenue=24225438.0, total_units_sold=92606)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='North America', total_revenue=3611757.5, total_units_sold=11728)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(product='Beverages', total_revenue=2145024.75, total_units_sold=45206)
Gold Table: Sales by Region Data:
Row(region='Australia and Oceania', total_revenue=10711258.0, total_units_sold=42328)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Europe', total_revenue=34964748.0, total_units_sold=121002)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Middle East and North Africa', total_revenue=24765128.0, total_units_sold=60376)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Central America and the Caribbean', total_revenue=17570836.0, total_units_sold=53641)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Asia', total_revenue=28840812.0, total_units_sold=113129)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Sub-Saharan Africa', total_revenue=24225438.0, total_units_sold=92606)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='North America', total_revenue=3611757.5, total_units_sold=11728)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(product='Cereal', total_revenue=9416123.0, total_units_sold=45776)
Gold Table: Sales by Region Data:
Row(region='Australia and Oceania', total_revenue=10711258.0, total_units_sold=42328)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Europe', total_revenue=34964748.0, total_units_sold=121002)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Middle East and North Africa', total_revenue=24765128.0, total_units_sold=60376)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Central America and the Caribbean', total_revenue=17570836.0, total_units_sold=53641)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Asia', total_revenue=28840812.0, total_units_sold=113129)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Sub-Saharan Africa', total_revenue=24225438.0, total_units_sold=92606)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='North America', total_revenue=3611757.5, total_units_sold=11728)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(product='Cosmetics', total_revenue=28727100.0, total_units_sold=65707)
Gold Table: Sales by Region Data:
Row(region='Australia and Oceania', total_revenue=10711258.0, total_units_sold=42328)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Europe', total_revenue=34964748.0, total_units_sold=121002)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Middle East and North Africa', total_revenue=24765128.0, total_units_sold=60376)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Central America and the Caribbean', total_revenue=17570836.0, total_units_sold=53641)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Asia', total_revenue=28840812.0, total_units_sold=113129)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Sub-Saharan Africa', total_revenue=24225438.0, total_units_sold=92606)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='North America', total_revenue=3611757.5, total_units_sold=11728)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(product='Baby Food', total_revenue=5200564.0, total_units_sold=20372)
Gold Table: Sales by Region Data:
Row(region='Australia and Oceania', total_revenue=10711258.0, total_units_sold=42328)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Europe', total_revenue=34964748.0, total_units_sold=121002)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Middle East and North Africa', total_revenue=24765128.0, total_units_sold=60376)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Central America and the Caribbean', total_revenue=17570836.0, total_units_sold=53641)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Asia', total_revenue=28840812.0, total_units_sold=113129)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Sub-Saharan Africa', total_revenue=24225438.0, total_units_sold=92606)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='North America', total_revenue=3611757.5, total_units_sold=11728)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(product='Clothes', total_revenue=4387373.5, total_units_sold=40148)
Gold Table: Sales by Region Data:
Row(region='Australia and Oceania', total_revenue=10711258.0, total_units_sold=42328)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Europe', total_revenue=34964748.0, total_units_sold=121002)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Middle East and North Africa', total_revenue=24765128.0, total_units_sold=60376)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Central America and the Caribbean', total_revenue=17570836.0, total_units_sold=53641)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Asia', total_revenue=28840812.0, total_units_sold=113129)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='Sub-Saharan Africa', total_revenue=24225438.0, total_units_sold=92606)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)
Row(region='North America', total_revenue=3611757.5, total_units_sold=11728)
Gold Table: Total Sales Data:
Row(total_units_sold=494810, total_revenue=144689984.0)